.home-main{
    max-width: 100%;
    background: $light;
    .home-article{
        color: $light-font;
        background: $third;
        margin-bottom: 5px;
        .home-h1, .home-h2{
            font-size: 24px;
            line-height: 60px;
            @include mobile-phone(){
                font-size: 20px;
                line-height: 1.5;
            }
        }
        .home-h2{
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .contxt{
            margin-bottom: 15px;
        }
    }
    .second-article{
        color: $dark;
        padding: 80px 0;
        .second-article-wrap{
            width: 50%;
            color: $light-font;
            padding: 30px 50px 50px;
            box-shadow: 10px 10px 10px rgba(0,0,0,.5);
            border-radius: 12px;
            @include mobile-phone(){
                width: 90%;
                padding: 20px 12px;
            }
            .contxt{
                line-height: 2;
                margin-bottom: 32px;
            }
            .start-order{
                width: 100px;
                text-align: center;
                border: 2px solid $light-font;
                border-radius: 15px;
                background: $dark;
                &:hover{
                    background: $special;
                }
                .link{
                    padding: 10px 0;
                    color: $light-font;
                }
            }
        }
        .np-list{
            justify-content: center;
            @include mobile-phone(){
                flex-wrap: wrap;
            }
            .list-item{
                width: 30%;
                @include box-shadow;
                margin: 0 12px;
                @include mobile-phone(){
                    width: 90%;
                    margin-bottom: 24px;
                }
                .np-img{
                    width: 100%;
                }
                .intro-container{
                    flex-direction: column;
                    justify-content: space-between;
                    .content{
                        padding: 20px 0;
                        .home-h3{
                            @include font-larger;
                        }
                        .contxt{
                            padding: 10px;
                        }
                    }
                    .date{
                        color: #707070;
                    }
                }
            }
        }
    }
    .third-article{
        .home-h2{
            text-align: left;
            @include mobile-phone(){
                text-align: center;
            }
        }
    }
}
